.footer-bg {
  background: url("../../footer-bg.png") no-repeat;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  /* object-fit: cover; */
}
.footer-container {
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.about-section {
  width: 500px;
}
.footer-container ul {
  display: flex;
  justify-content: space-around;
}
.footer-container ul a {
  font-size: 40px;
}
.footer-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}
