@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.footer-container {
  background: url("../../footer-bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 300px;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
.about-section {
  width: 500px;
}
.footer-container ul {
  display: flex;
  justify-content: space-around;
}
.footer-container ul a {
  font-size: 40px;
}
.footer-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}
